<div class="chat-window full-height has-sidebar-right">
	<div class="chat-conversation scroll-y">
		<div class="chat-messages">
			<div class="chat-message" data-ng-repeat="message in messages|orderBy:'id':true">
				<div class="chat-content" data-ng-class="::{'self':message.self}">
					<span>{{::message.content}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="chat-editor bg-white">
	</div>
</div>
<div class="sidebar-right scroll-y">
	<ul class="chat-list">
		<li class="bg-active">
			<div class="visitor-avatar thumb thumb-40 thumb-circular">
				<img src="http://pages.revox.io/dashboard/latest/angular/assets/img/profiles/2x.jpg" width="40" height="40">
			</div>
			<div class="visitor-unread-message">
			</div>
			<div class="visitor-name">
				<span>Erik Taylor</span>
			</div>
		</li>
		<li>
			<div class="visitor-avatar thumb thumb-40 thumb-circular">
				<i class="fa fa-firefox fa-fw"></i>
			</div>
			<div class="visitor-unread-message">
				<span>12</span>
			</div>
			<div class="visitor-name">
				<span>Anonymous 1</span>
			</div>
		</li>
		<li>
			<div class="visitor-avatar thumb thumb-40 thumb-circular">
				<img src="http://pages.revox.io/dashboard/latest/angular/assets/img/profiles/7x.jpg" width="40" height="40">
			</div>
			<div class="visitor-unread-message">
				<span>4</span>
			</div>
			<div class="visitor-name">
				<span>Glen Lawrence</span>
			</div>
		</li>
		<li>
			<div class="visitor-avatar thumb thumb-40 thumb-circular">
				<i class="fa fa-safari fa-fw"></i>
			</div>
			<div class="visitor-unread-message">
			</div>
			<div class="visitor-name">
				<span>Anonymous 2</span>
			</div>
		</li>
		<li>
			<div class="visitor-avatar thumb thumb-40 thumb-circular">
				<i class="fa fa-internet-explorer fa-fw"></i>
			</div>
			<div class="visitor-unread-message">
			</div>
			<div class="visitor-name">
				<span>Anonymous 3</span>
			</div>
		</li>
	</ul>
</div>
