<div class="page">
	<div class="gs-16 gs-fluid gs-padding">
		<div class="row">
			<div class="col-8">
				<form data-ng-submit="save()" class="form form-stack panel panel-default">
					<div class="panel-heading">
						<!-- <div class="panel-title">Tenant Information</div> -->
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="label">Tenant name</label>
							<span class="help">Your tenant name will be displayed to vistors</span>
							<div class="form-control">
								<input type="text" data-ng-model="tenant.displayName" class="input input-single-line">
							</div>
						</div>
						<div class="form-group">
							<label class="label">Plan</label>
							<div class="form-control">
								<div class="gs-16 gs-fluid">
									<div class="row">
										<div class="col-8">
											<select data-ng-model="tenant.plan" class="input input-single-line">
												<option value="free">Free</option>
											</select>
										</div>
										<div class="col-7-offset-1">
											<span class="help">Free plan has very limited functionalities</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="label">Description</label>
							<span class="help">Information about your tenant, optional</span>
							<div class="form-control">
								<textarea rows="5" data-ng-model="tenant.description" class="input input-multi-line"></textarea>
							</div>
						</div>
						<div class="form-group">
							<button class="button button-primary">Update</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">Install EasyChat on your website</div>
					</div>
					<div class="panel-body form form-stack">
						<p class="">This is your embedded script for your tenant. Please copy and paste it into every webpage you want to use EasyChat.</p>
						<div class="form-group">
							<div class="form-control">
								<textarea rows="3" readonly class="input input-multi-line no-resize">xxxxx</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
