@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

@import './_shared/module'
@import './auth/module'
@import './site/module'
@import './socket/module'
@import './tenant/module'


ng-md-icon
	margin auto
	background-repeat no-repeat no-repeat
	display inline-block
	vertical-align middle
	fill currentColor
	size 24px
	transition fill 750ms ease-in-out;

	& > svg
		pointer-events none
		display block
		transition: width 750ms ease-in-out, height 750ms ease-in-out;

body
	// font-family font-stack('Consolas')

	.mdl-layout__header .mdl-layout__drawer-button
		color inherit
