<div class="sidebar-header">
	<span class="text-color-white">They <span class="text-color-success">Online</span></span>
</div>
<div class="sidebar-menu">
	<ul class="menu-items">
		<li>
			<a data-ui-sref="dashboard">
				<span class="title">Dashboard</span>
				<span class="details">12 New Updates</span>
			</a>
			<span class="thumb thumb-40 text-color-white">
				<i class="fa fa-globe fa-fw"></i>
			</span>
		</li>
		<li>
			<a data-ui-sref="tenant({ id: 'current' })">
				<span class="title">Tenant</span>
			</a>
			<span class="thumb thumb-40">
				<i class="fa fa-building-o fa-fw"></i>
			</span>
		</li>
		<li>
			<a data-ui-sref="chat">
				<span class="title">Chat</span>
				<span class="details">100 New Messages</span>
			</a>
			<span class="thumb thumb-40">
				<i class="fa fa-comments-o fa-fw"></i>
			</span>
		</li>
	</ul>
</div>
