<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
	<span class="mdl-layout-title">They Online</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" data-ui-sref="dashboard">
			<i class="fa fa-globe fa-fw"></i>
			<span class="title">Dashboard</span>
		</a>
		<a class="mdl-navigation__link" data-ui-sref="tenant({ id: 'current' })">
			<i class="fa fa-building-o fa-fw"></i>
			<span class="title">Tenant</span>
		</a>
		<a class="mdl-navigation__link" data-ui-sref="chat">
			<i class="fa fa-comments-o fa-fw"></i>
			<span class="title">Chat</span>
		</a>
		<div class="mdl-layout-spacer"></div>
		<a class="mdl-navigation__link" data-ui-sref="chat">
			<i class="fa fa-comments-o fa-fw"></i>
			<span class="title">Chat</span>
		</a>
	</nav>
</div>
