_FORM_LABEL = 200px
_FORM_SPACE = 10px

.form
	.form-line
		clearfix
		margin (_FORM_SPACE / 2) 0

		.form-label
			float left
			size _FORM_LABEL false

		.form-control
			margin-left _FORM_LABEL

			.input
				size 100% false
