_HEADER_HEIGHT = 60px
_HEADER_BACKGROUND = #ffffff

_SIDEBAR_WIDTH = 250px
_SIDEBAR_BACKGROUND = #2b303b

_SIDEBAR_RIGHT_WIDTH = 300px

_SIDEBAR_HEADER_BACKGROUND = #272b35
_SIDEBAR_HEADER_BORDER_COLOR = #232730

_MAIN_CONTAINER_BACKGROUND = #fafafa
_MAIN_CONTAINER_PADDING = 25px

.sidebar
	size _SIDEBAR_WIDTH false
	background _SIDEBAR_BACKGROUND
	position fixed
	top 0
	left 0
	bottom 0

	.sidebar-menu
		height calc(s('%s - %s', 100%, _HEADER_HEIGHT + _MAIN_CONTAINER_PADDING))
		margin-top _MAIN_CONTAINER_PADDING

	.sidebar-header
		size _SIDEBAR_WIDTH _HEADER_HEIGHT
		line-height _HEADER_HEIGHT
		background _SIDEBAR_HEADER_BACKGROUND
		border-bottom 1px solid _SIDEBAR_HEADER_BORDER_COLOR


.sidebar-right
	size _SIDEBAR_RIGHT_WIDTH false
	background COLOR_WHITE
	position fixed
	top _HEADER_HEIGHT
	right 0
	bottom 0
	border-left 1px solid BORDER_COLOR

.header-navbar
	position fixed
	top 0
	left 0
	size 100% _HEADER_HEIGHT
	line-height _HEADER_HEIGHT
	padding-right _MAIN_CONTAINER_PADDING
	background _HEADER_BACKGROUND
	border-bottom 1px solid BORDER_COLOR

	.user-avatar
		margin-top ((_HEADER_HEIGHT - 32) / 2)

	.user-avatar, .user-name
		margin-right (_MAIN_CONTAINER_PADDING / 2)

.main-container
	margin-left _SIDEBAR_WIDTH
	padding 0
	padding-top (_HEADER_HEIGHT)

	.has-sidebar-right
		margin-right _SIDEBAR_RIGHT_WIDTH

body
	background _MAIN_CONTAINER_BACKGROUND

html, body
	height 100%
