.panel
	border 1px solid BORDER_COLOR

	&.panel-highlight
		.panel-header, .panel-footer
			background COLOR_ACTIVE

	.panel-header, .panel-body, .panel-footer
		padding CELL_PADDING

	.panel-header + .panel-body
		border-top 1px solid BORDER_COLOR

	.panel-body + .panel-footer
		border-top 1px solid BORDER_COLOR
