_SUPPORTED_THUMBNAILS = 16px 24px 32px 40px 48px 64px 128px

_thumbnail(__SIZE)
	size __SIZE
	line-height __SIZE
	display inline-block
	vertical-align middle
	text-align center
	overflow hidden

	&.thumb-circular
		border-radius 50%

for __THUMB_SIZE in _SUPPORTED_THUMBNAILS
	.thumb
		&.thumb-{__THUMB_SIZE}
			_thumbnail(__THUMB_SIZE)


