_SUPPORTED_GRID_SYSTEMS = 10 12 16
_GRID_PADDING = 50px

_grid_system(__TYPE, __TOTAL_COLS)
	gs(__TYPE, __TOTAL_COLS)

	.row
		clearfix()
		row()

		for __SIZE in (1..(__TOTAL_COLS - 1))
			.col-{__SIZE}
				col(__SIZE)

			for __OFFSET in (1..(__TOTAL_COLS - __SIZE))
				.col-{__SIZE}-offset-{__OFFSET}
					col(__SIZE)
					offset(__OFFSET)

		.col
			col()

for __GRID_SYSTEM in _SUPPORTED_GRID_SYSTEMS
	.gs-{__GRID_SYSTEM}
		_grid_system('fixed', __GRID_SYSTEM)

		&.gs-fluid
			_grid_system('fluid', __GRID_SYSTEM)

			&.gs-padding
				width auto
				margin 0 _GRID_PADDING
