@import 'kouto-swiss';

meyer-reset()
box-sizing-reset()
normalize()

.page-top
	border-bottom		1px solid black
	padding-bottom		20px
	margin-bottom		20px

.page-left
	float				left
	width				200px

.page-right
	margin-left			200px
