_BREAK = 20px

.cf
	clearfix()

.pull-left
	float left

.pull-right
	float right

.break
	size false _BREAK

	&.break-small
		size false (_BREAK / 2)

	&.break-large
		size false (_BREAK * 2)

	&.break-extra-large
		size false (_BREAK * 3)

.no-margin
	margin 0!important

.full-height
	height 100%!important

.bg-white
	background COLOR_WHITE
