_BREAK = 20px

.cf
	clearfix()

.pull-left
	float left

.pull-right
	float right

.break
	size false _BREAK

	&.break-small
		size false (_BREAK / 2)

	&.break-large
		size false (_BREAK * 2)

	&.break-large-extra
		size false (_BREAK * 3)

.no-margin
	margin 0!important

.full-height
	height 100%!important

.bg-white
	background COLOR_WHITE

.bg-primary
	background COLOR_PRIMARY

.bg-complete
	background COLOR_COMPLETE

.bg-complete-light
	background COLOR_COMPLETE_LIGHT

.bg-success
	background COLOR_SUCCESS

.bg-danger
	background COLOR_DANGER

.bg-warning
	background COLOR_WARNING

.bg-passive
	background COLOR_PASSIVE

.bg-active
	background COLOR_ACTIVE
