ks-vendors-prefixes = recommended

BORDER_COLOR = #90C0BE
BORDER_COLOR_FOCUS = #51A9FF
BORDER_COLOR_HOVER = #00FFFF
BORDER_COLOR_WARNING = #FF8151

TEXT_COLOR = #363636
TEXT_FONT_STACK = Verdana
TEXT_BASE_SIZE = 13px

CELL_PADDING = 10px
