<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
		<div class="tenant-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">Profile</h2>
			</div>
			<form data-ng-submit="save()">
				<div class="mdl-card__supporting-text">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="name" data-ng-model="profile.name"/>
						<label class="mdl-textfield__label" for="name">Name</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="email" id="email" data-ng-model="profile.email"/>
						<label class="mdl-textfield__label" for="email">Email</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="phone" data-ng-model="profile.phone"/>
						<label class="mdl-textfield__label" for="phone">Phone</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="information" data-ng-model="profile.information"/>
						<label class="mdl-textfield__label" for="information">Information</label>
					</div>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<x-switch-icon status-current="statusCurrent"></x-switch-icon>
				</div>
			</form>
		</div>
	</div>
</div>
