@import '../main'

html, body
	height 100%

.login-wrapper
	position relative
	.login-container
		width 500px
		position relative

		.contact
			padding-right 5px

	.bg-pic
		position fixed
		top 0
		left 0
		size 100%
		overflow hidden
