@import '../main'

html, body
	height 100%

.login-wrapper
	clearfix()

	.login-container
		width 500px
		position relative

		.contact
			line-height 35px

	.bg-pic
		margin-right 500px
		overflow hidden

		img
			height 100%
