@import '../main'

.landing-wrapper
	@extend .full-height

	.landing
		position relative
		text-align center
		background url('/build/img/bg_landing.jpg') no-repeat center center
		background-size cover
		padding-bottom 40px

		.landing-heading
			position relative
			z-index 1

			.actions
				margin-top 40px

				.mdl-button
					margin 0 30px

		.overlay
			position absolute
			z-index 0
			top 0
			left 0
			right 0
			bottom 0
			opacity .3

	.getting-started
		text-align center

	.steps
		text-align center

		.material-icons
			&--large
				font-size 112px
				padding-bottom 10px
