@import '../main'

html, body
	@extend .full-height

.login-wrapper
	.login-container
		width 500px
		position relative

		.contact
			line-height 35px

	.bg-pic
		margin-right 500px
		overflow hidden
		position relative

		.background
			background url('/build/img/bg_sign_up.jpg') no-repeat center bottom
			background-size cover

		.introduction-wrapper
			position absolute
			padding 30px
			bottom 0
			left 0
			right 0

			.introduction
				max-width 500px
