@import '../main'

html, body


.auth-layout
	@extend .full-height

	.mdl-card
		&--full
			width 100%

		.mdl-card__supporting-text
			&--full
				width 100%

		.mdl-card__actions
			display flex
			align-items center

	.form-auth
		.mdl-textfield
			display block
			width auto


.bg-pic
	position relative
	background url('/build/img/bg_sign_up.jpg') no-repeat center bottom
	background-size cover

	.introduction
		position absolute
		bottom 0
		left 0
