ks-vendors-prefixes = recommended

COLOR_PRIMARY = #6d5cae
COLOR_PRIMARY_LIGHT = #8a7dbe
COLOR_PRIMARY_DARK = #584b8d

COLOR_COMPLETE = #48b0f7
COLOR_COMPLETE_LIGHT = #6dc0f9
COLOR_COMPLETE_DARK = #3a8fc8

COLOR_SUCCESS = #10cfbd
COLOR_SUCCESS_LIGHT = #40d9ca
COLOR_SUCCESS_DARK = #0da899

COLOR_DANGER = #f55753
COLOR_DANGER_LIGHT = #f77975
COLOR_DANGER_DARK = #c64643

COLOR_WARNING = #f8d053
COLOR_WARNING_LIGHT = #f9d975
COLOR_WARNING_DARK = #c9a843

COLOR_WHITE = #ffffff
COLOR_WHITE_LIGHT = #fafafa
COLOR_WHITE_DARK = #f0f0f0

COLOR_BLACK = #000000

COLOR_PASSIVE = #eee
COLOR_ACTIVE = #daeffd

BORDER_COLOR = #e6e6e6
BORDER_COLOR_FOCUS = #e6e6e6
BORDER_COLOR_HOVER = rgba(98,98,98,0.27)
BORDER_COLOR_WARNING = COLOR_WARNING
BORDER_RADIUS = 2px

TEXT_FONT_STACK = 'Segoe UI'
TEXT_BASE_SIZE = 14px

TEXT_COLOR = #626262
TEXT_COLOR_BLACK = #2c2c2c
TEXT_COLOR_HINT = #2c2c2c
TEXT_COLOR_PRIMARY = #62549a
TEXT_COLOR_SUCCESS = #4aa9e9
TEXT_COLOR_COMPLETE = #23b9a9
TEXT_COLOR_DANGER = #ce4e4d
TEXT_COLOR_WARNING = #eac459

CELL_PADDING = 10px

TRANSITION_TIME = 0.2s
