_FORM_LABEL = 200px
_FORM_SPACE = 10px
_FORM_LINE_HEIGHT = 28px
_BUTTON_COLOR = #ffffff

.form
	.form-line
		clearfix()
		margin (_FORM_SPACE / 2)

		.form-label
			float left
			size _FORM_LABEL false
			font-weight bold
			line-height _FORM_LINE_HEIGHT

		.form-control
			margin-left _FORM_LABEL

		.input
			size 100% false

			&.input-single-line
				size false _FORM_LINE_HEIGHT

			&.input-multi-line
				line-height (_FORM_LINE_HEIGHT - 6)
				resize vertical

.checkbox, .radio
	size false _FORM_LINE_HEIGHT

	input
		display none
		visibility hidden

	label
		user-select none

		span
			position relative
			top -2px

		i
			cursor pointer
			position relative
			top 3px
			content ''
			display inline-block
			size 22px
			border 1px solid BORDER_COLOR
			margin-right 5px

			&:before
				content ''
				display inline-block
				margin 3px
				size 14px

		&:hover
			i
				outline none
				border 1px solid BORDER_COLOR_HOVER
				box-shadow 0 0 5px BORDER_COLOR_HOVER

		&:focus, &:active
			i
				outline none
				border 1px solid BORDER_COLOR_FOCUS
				box-shadow 0 0 5px BORDER_COLOR_FOCUS


	input:checked
		& + label
			i:before
				background BORDER_COLOR

	input:disabled
		& + label, & + label:hover, & + label:focus, & + label:active
			i
				cursor not-allowed
				background COLOR_PASSIVE
				border 1px solid BORDER_COLOR
				box-shadow none

.radio
	label
		i, i:before
			border-radius 50%

.input
	border 1px solid BORDER_COLOR

	&.input-warning
		outline none
		border 1px solid BORDER_COLOR_WARNING

	&:hover
		outline none
		border 1px solid BORDER_COLOR_HOVER
		box-shadow 0 0 5px BORDER_COLOR_HOVER

	&:focus, &:active
		outline none
		border 1px solid BORDER_COLOR_FOCUS
		box-shadow 0 0 5px BORDER_COLOR_FOCUS

	&:disabled, &[disabled]
		outline none
		border 1px solid BORDER_COLOR
		box-shadow none
		cursor not-allowed
		background COLOR_PASSIVE

	&[readonly]
		cursor not-allowed

.button
	height _FORM_LINE_HEIGHT
	border 1px solid BORDER_COLOR
	background _BUTTON_COLOR

	&:hover, &:active, &:focus
		outline none

	&:hover
		border 1px solid BORDER_COLOR_HOVER
		box-shadow 0 0 5px BORDER_COLOR_HOVER

	&:active, &:focus
		border 1px solid BORDER_COLOR_FOCUS
		box-shadow 0 0 5px BORDER_COLOR_FOCUS

	& + .button
		margin-left _FORM_SPACE
