_FORM_LABEL = 200px
_FORM_SPACE = 10px
_FORM_LINE_HEIGHT = 35px

_HELP_COLOR = rgba(98,98,98,0.55)

.form
	/* common style for all form */
	.form-group
		clearfix()
		margin 0 (_FORM_SPACE / 2) _FORM_SPACE

		.label
			font-size: TEXT_BASE_SIZE - 2
			text-transform uppercase
			font-weight 600

		.help
			font-size TEXT_BASE_SIZE - 2
			color color-fallback(_HELP_COLOR)

		.form-label
			float left
			size _FORM_LABEL false
			font-weight bold
			line-height _FORM_LINE_HEIGHT

		.form-control
			margin-left _FORM_LABEL

		.input
			size 100% false
			padding 0 _FORM_SPACE

			&.input-single-line
				size false _FORM_LINE_HEIGHT

			&.input-multi-line
				line-height (_FORM_LINE_HEIGHT - 6)
				resize vertical

	&.form-stack
		.form-group
			.form-control
				margin (_FORM_SPACE / 2) 0 0 0

.checkbox, .radio
	line-height _FORM_LINE_HEIGHT
	display inline-block

	& + .checkbox, & + .radio
		margin-left _FORM_SPACE

	input
		display none
		visibility hidden

	label
		user-select none

		span
			position relative
			top -2px

		i
			cursor pointer
			position relative
			top 6px
			content ''
			display inline-block
			size 22px
			border 1px solid BORDER_COLOR
			border-radius BORDER_RADIUS
			margin-right 5px

			&:before
				content ''
				display inline-block
				margin 3px
				size 14px
				position relative
				top -2px
				border-radius BORDER_RADIUS

		&:hover
			i
				outline none
				border 1px solid BORDER_COLOR_HOVER
				box-shadow 0 0 5px BORDER_COLOR_HOVER

		&:focus, &:active
			i
				outline none
				border 1px solid BORDER_COLOR_FOCUS
				box-shadow 0 0 5px BORDER_COLOR_FOCUS


	input:checked
		& + label
			i:before
				background BORDER_COLOR_HOVER

	input:disabled
		& + label, & + label:hover, & + label:focus, & + label:active
			i
				cursor not-allowed
				background COLOR_PASSIVE
				border 1px solid BORDER_COLOR
				box-shadow none

.radio
	label
		i, i:before
			border-radius 50%

.input
	transition all TRANSITION_TIME
	border 1px solid BORDER_COLOR
	border-radius BORDER_RADIUS
	display block

	&.input-warning
		outline none
		border 1px solid BORDER_COLOR_WARNING

	&:hover
		outline none
		border 1px solid BORDER_COLOR_HOVER
		box-shadow 0 0 5px BORDER_COLOR_HOVER

	&:focus, &:active
		outline none
		border 1px solid BORDER_COLOR_FOCUS
		box-shadow 0 0 5px BORDER_COLOR_FOCUS

	&:disabled, &[disabled]
		outline none
		border 1px solid BORDER_COLOR
		box-shadow none
		cursor not-allowed
		background COLOR_PASSIVE

	&[readonly]
		cursor not-allowed

_BUTTON_COLOR(__NORMAL, __HOVER, __ACTIVE)
	border-color __NORMAL
	background __NORMAL

	&:hover
		border-color __HOVER
		background __HOVER

	&:active
		border-color __ACTIVE
		background __ACTIVE

.button
	_BUTTON_COLOR(COLOR_WHITE, COLOR_WHITE_LIGHT, COLOR_WHITE_DARK)
	transition all TRANSITION_TIME
	size false _FORM_LINE_HEIGHT
	min-width 120px
	border-radius (BORDER_RADIUS * 1.5)
	padding (_FORM_SPACE / 2) (_FORM_SPACE * 2)
	letter-spacing 0.01em
	vendor('font-smoothing', antialiased, prefixes: webkit moz ms o)
	border 1px solid BORDER_COLOR

	&:hover
		border-color BORDER_COLOR_HOVER

	&:active
		border-color BORDER_COLOR_FOCUS

	&:hover, &:active, &:focus
		outline none

	& + .button
		margin-left (_FORM_SPACE / 2)

	&.button-primary
		_BUTTON_COLOR(COLOR_PRIMARY, COLOR_PRIMARY_LIGHT, COLOR_PRIMARY_DARK)
		color COLOR_WHITE

	&.button-complete
		_BUTTON_COLOR(COLOR_COMPLETE, COLOR_COMPLETE_LIGHT, COLOR_COMPLETE_DARK)
		color COLOR_WHITE

	&.button-success
		_BUTTON_COLOR(COLOR_SUCCESS, COLOR_SUCCESS_LIGHT, COLOR_SUCCESS_DARK)
		color COLOR_WHITE

	&.button-danger
		_BUTTON_COLOR(COLOR_DANGER, COLOR_DANGER_LIGHT, COLOR_DANGER_DARK)
		color COLOR_WHITE

	&.button-warning
		_BUTTON_COLOR(COLOR_WARNING, COLOR_WARNING_LIGHT, COLOR_WARNING_DARK)
		color COLOR_WHITE
