hr
	border none
	border-bottom 1px solid BORDER_COLOR

body
	color TEXT_COLOR
	font-family font-stack(TEXT_FONT_STACK)
	font-size TEXT_BASE_SIZE

.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

.text-justify
	text-align justify

.text-nowrap
	white-space nowrap
