hr
	border none
	border-bottom 1px solid BORDER_COLOR

body
	color TEXT_COLOR
	font-family font-stack(TEXT_FONT_STACK)
	font-size TEXT_BASE_SIZE

h1, h2, h3, h4, h5
	font-weight 300
	overflow hidden
	letter-spacing normal

h1
	font-size 33px
	line-height 49px

h2
	font-size 29px
	line-height 40px

h3
	font-size 25px
	line-height 33px

h4
	font-size 23px
	line-height 32px

h5
	font-size 19px
	line-height 28px

p
	margin 0 0 10px 0
	line-height (TEXT_BASE_SIZE * 1.5)

a
	color TEXT_COLOR_SUCCESS
	text-decoration none
	outline none

	&:visited
		color inherit
		text-decoration inherit
		outline none

.underline
	text-decoration underline


.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

.text-justify
	text-align justify

.text-nowrap
	white-space nowrap

.text-color-black
	color TEXT_COLOR_BLACK

.text-color-hint
	color TEXT_COLOR_HINT

.text-color-primary
	color TEXT_COLOR_PRIMARY

.text-color-success
	color TEXT_COLOR_SUCCESS

.text-color-complete
	color TEXT_COLOR_COMPLETE

.text-color-danger
	color TEXT_COLOR_DANGER

.text-color-warning
	color TEXT_COLOR_WARNING

.text-color-white
	color COLOR_WHITE

.text-small
	font-size (TEXT_BASE_SIZE - 1)

.text-large
	font-size (TEXT_BASE_SIZE + 1)

.text-large-extra
	font-size (TEXT_BASE_SIZE + 2)

.text-upper
	text-transform uppercase
